/*body*/
body {
  background-image: url("./images/Webpage backgroung.png");
  background-color: brown;
}
/*style of articles background*/
.article {
  border-radius: 7px;
  border-shadow: 3px;
  margin: 40px;
}
